@font-face {
   font-family: "Montserrat";
   font-style: normal;
   font-weight: 100;
   font-display: swap;
   src: url("../fontgoogle/Montserrat/Montserrat-Thin.ttf") format('truetype');
}

@font-face {
   font-family: "Montserrat";
   font-style: italic;
   font-weight: 100;
   font-display: swap;
   src: url("../fontgoogle/Montserrat/Montserrat-ThinItalic.ttf") format('truetype');
}

@font-face {
   font-family: "Montserrat";
   font-style: normal;
   font-weight: 200;
   font-display: swap;
   src: url("../fontgoogle/Montserrat/Montserrat-ExtraLight.ttf") format('truetype');
}

@font-face {
   font-family: "Montserrat";
   font-style: italic;
   font-weight: 200;
   font-display: swap;
   src: url("../fontgoogle/Montserrat/Montserrat-ExtraLightItalic.ttf") format('truetype');
}

@font-face {
   font-family: "Montserrat";
   font-style: normal;
   font-weight: 300;
   font-display: swap;
   src: url("../fontgoogle/Montserrat/Montserrat-Light.ttf") format('truetype');
}

@font-face {
   font-family: "Montserrat";
   font-style: italic;
   font-weight: 300;
   font-display: swap;
   src: url("../fontgoogle/Montserrat/Montserrat-LightItalic.ttf") format('truetype');
}

@font-face {
   font-family: "Montserrat";
   font-style: normal;
   font-weight: 400;
   font-display: swap;
   src: url("../fontgoogle/Montserrat/Montserrat-Regular.ttf") format('truetype');
}

@font-face {
   font-family: "Montserrat";
   font-style: italic;
   font-weight: 400;
   font-display: swap;
   src: url("../fontgoogle/Montserrat/Montserrat-Italic.ttf") format('truetype');
}

@font-face {
   font-family: "Montserrat";
   font-style: normal;
   font-weight: 500;
   font-display: swap;
   src: url("../fontgoogle/Montserrat/Montserrat-Medium.ttf") format('truetype');
}

@font-face {
   font-family: "Montserrat";
   font-style: italic;
   font-weight: 500;
   font-display: swap;
   src: url("../fontgoogle/Montserrat/Montserrat-MediumItalic.ttf") format('truetype');
}

@font-face {
   font-family: "Montserrat";
   font-style: normal;
   font-weight: 600;
   font-display: swap;
   src: url("../fontgoogle/Montserrat/Montserrat-SemiBold.ttf") format('truetype');
}

@font-face {
   font-family: "Montserrat";
   font-style: italic;
   font-weight: 600;
   font-display: swap;
   src: url("../fontgoogle/Montserrat/Montserrat-SemiBoldItalic.ttf") format('truetype');
}

@font-face {
   font-family: "Montserrat";
   font-style: normal;
   font-weight: 700;
   font-display: swap;
   src: url("../fontgoogle/Montserrat/Montserrat-Bold.ttf") format('truetype');
}

@font-face {
   font-family: "Montserrat";
   font-style: italic;
   font-weight: 700;
   font-display: swap;
   src: url("../fontgoogle/Montserrat/Montserrat-BoldItalic.ttf") format('truetype');
}

@font-face {
   font-family: "Montserrat";
   font-style: normal;
   font-weight: 800;
   font-display: swap;
   src: url("../fontgoogle/Montserrat/Montserrat-ExtraBold.ttf") format('truetype');
}

@font-face {
   font-family: "Montserrat";
   font-style: italic;
   font-weight: 800;
   font-display: swap;
   src: url("../fontgoogle/Montserrat/Montserrat-ExtraBoldItalic.ttf") format('truetype');
}

@font-face {
   font-family: "Montserrat";
   font-style: normal;
   font-weight: 900;
   font-display: swap;
   src: url("../fontgoogle/Montserrat/Montserrat-Black.ttf") format('truetype');
}

@font-face {
   font-family: "Montserrat";
   font-style: italic;
   font-weight: 900;
   font-display: swap;
   src: url("../fontgoogle/Montserrat/Montserrat-BlackItalic.ttf") format('truetype');
}